body {
  padding: 15px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: whitesmoke;
}

a {
  color: #00B7FF;
}

img {
  padding-top: 5px;
  padding-bottom: 5px;
}

form {
  padding: 10px 0 10px 0;
}

.fav-item {
  padding: 20px 0 20px 0;
}

/*Here, you can change the sizing of the favorites image, so they are smaller, and have a border.*/
.fav-image {
  width: 200px;
  display: inline;
  border: 2px solid;
}

.fav-date, .favtitle {
  display: inline;
  padding: 20px;
}
